body {
    background: rgb(0, 0, 0);
}
#canvas1 {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid rgb(255, 255, 255);
}

#playerImage {
    display: none;
}

#playerImage2 {
    display: none;
}

#playerImage3 {
    display: none;
}

#caminhao4 {
    display: none;
}


#backgroundImage {
    display: none;
}

#backgroundImage2 {
    display: none;
}

#NPC-1 {
    display: none;
}

#NPC-2 {
    display: none;
}

#NPC-3 {
    display: none;
}

#NPC-4 {
    display: none;
}


#Godowntown1 {
    transition-duration: 0.4;
}
#Godowntown1:hover {
    background-color: #4CAF50;
    color: white;
}

#Godowntown2 {
    transition-duration: 0.4;
}
#Godowntown2:hover {
    background-color: #4CAF50;
    color: white;
}


#downtown {
    transition-duration: 0.4;
}
#downtown:hover {
    background-color: #4CAF50;
    color: white;
}

#job {
    transition-duration: 0.4;
}
#job:hover {
    background-color: #4CAF50;
    color: white;
}

#huntjob {
    transition-duration: 0.4;
}
#huntjob:hover {
    background-color: #4CAF50;
    color: white;
}

shop {
    transition-duration: 0.4;
}

#shop:hover {
    background-color: #281bd8;
    color: white;
}

shop2 {
    transition-duration: 0.4;
}

#shop2:hover {
    background-color: #281bd8;
    color: white;
}

#openinventory {
    transition-duration: 0.4;
}
#openinventory:hover {
    background-color: #5138dd;
    color: white;
}

#closeinventory {
    transition-duration: 0.2;
}
#closeinventory:hover {
    background-color: #5138dd;
    color: white;
}

#text {
    transition-duration: 0.2;
}
#text:hover {
    background-color: #5138dd;
    color: white;
}

#register {
    transition-duration: 0.2;
}
#register:hover {
    background-color: #5138dd;
    color: white;
}

#text2 {
    transition-duration: 0.2;
}
#text2:hover {
    background-color: #5138dd;
    color: white;
}